Import packages

In [1]:
 import pandas as pd

In [2]:
import requests as rq

In [3]:
import numpy as nm

In [4]:
import datetime as dt

Read labels file

In [5]:
#getting the labels file

In [6]:
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/secom/secom_labels.data'

In [7]:
r = rq.get(url, allow_redirects=True)

In [8]:
open('secomlabels.csv', 'wb').write(r.content)

40638

In [9]:
#Setting headers for labels file

In [10]:
headers = ['status','datetime']

In [11]:
secom_label = pd.read_csv('secomlabels.csv', encoding='latin-1', sep=' ',  names=headers, index_col=False, header=None)

In [12]:
df_label = pd.DataFrame(secom_label)

In [13]:
df_label

      status             datetime
0         -1  19/07/2008 11:55:00
1         -1  19/07/2008 12:32:00
2          1  19/07/2008 13:17:00
3         -1  19/07/2008 14:43:00
4         -1  19/07/2008 15:22:00
...      ...                  ...
1562      -1  16/10/2008 15:13:00
1563      -1  16/10/2008 20:49:00
1564      -1  17/10/2008 05:26:00
1565      -1  17/10/2008 06:01:00
1566      -1  17/10/2008 06:07:00

[1567 rows x 2 columns]

#Getting number of rows

In [14]:
df_label.count(0)

status      1567
datetime    1567
dtype: int64

In [15]:
#Splitting date & time

In [16]:
df_label_new = df_label

In [17]:
df_label_new

      status             datetime
0         -1  19/07/2008 11:55:00
1         -1  19/07/2008 12:32:00
2          1  19/07/2008 13:17:00
3         -1  19/07/2008 14:43:00
4         -1  19/07/2008 15:22:00
...      ...                  ...
1562      -1  16/10/2008 15:13:00
1563      -1  16/10/2008 20:49:00
1564      -1  17/10/2008 05:26:00
1565      -1  17/10/2008 06:01:00
1566      -1  17/10/2008 06:07:00

[1567 rows x 2 columns]

In [18]:
df_label_new['date'] = pd.to_datetime(df_label['datetime']).dt.date

In [19]:
df_label_new['time'] = pd.to_datetime(df_label['datetime']).dt.time

In [20]:
df_label_new.drop('datetime', inplace=True, axis=1)

In [21]:
print(df_label_new)

      status        date      time
0         -1  2008-07-19  11:55:00
1         -1  2008-07-19  12:32:00
2          1  2008-07-19  13:17:00
3         -1  2008-07-19  14:43:00
4         -1  2008-07-19  15:22:00
...      ...         ...       ...
1562      -1  2008-10-16  15:13:00
1563      -1  2008-10-16  20:49:00
1564      -1  2008-10-17  05:26:00
1565      -1  2008-10-17  06:01:00
1566      -1  2008-10-17  06:07:00

[1567 rows x 3 columns]

Read SECOM data

In [22]:
url1 = 'https://archive.ics.uci.edu/ml/machine-learning-databases/secom/secom.data'

In [23]:
r1 = rq.get(url1, allow_redirects=True)

In [24]:
open('secomdata.csv', 'wb').write(r1.content)

5389983

In [25]:
#Read SECOM data

In [26]:
secom_data = pd.read_csv('secomdata.csv', encoding='latin-1', sep=' ', index_col=False, header=None)

In [27]:
df_secom = pd.DataFrame(secom_data)

In [28]:
df_secom

,0,1,2,3,4,5,6,7,8,9,...,580,581,582,583,584,585,586,587,588,589
0,3030.93,2564.00,2187.7333,1411.1265,1.3602,100.0,97.6133,0.1242,1.5005,0.0162,...,NaN,NaN,0.5005,0.0118,0.0035,2.3630,NaN,NaN,NaN,NaN
1,3095.78,2465.14,2230.4222,1463.6606,0.8294,100.0,102.3433,0.1247,1.4966,-0.0005,...,0.0060,208.2045,0.5019,0.0223,0.0055,4.4447,0.0096,0.0201,0.0060,208.2045
2,2932.61,2559.94,2186.4111,1698.0172,1.5102,100.0,95.4878,0.1241,1.4436,0.0041,...,0.0148,82.8602,0.4958,0.0157,0.0039,3.1745,0.0584,0.0484,0.0148,82.8602
3,2988.72,2479.90,2199.0333,909.7926,1.3204,100.0,104.2367,0.1217,1.4882,-0.0124,...,0.0044,73.8432,0.4990,0.0103,0.0025,2.0544,0.0202,0.0149,0.0044,73.8432
4,3032.24,2502.87,2233.3667,1326.5200,1.5334,100.0,100.3967,0.1235,1.5031,-0.0031,...,NaN,NaN,0.4800,0.4766,0.1045,99.3032,0.0202,0.0149,0.0044,73.8432
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1562,2899.41,2464.36,2179.7333,3085.3781,1.4843,100.0,82.2467,0.1248,1.3424,-0.0045,...,0.0047,203.1720,0.4988,0.0143,0.0039,2.8669,0.0068,0.0138,0.0047,203.1720
1563,3052.31,2522.55,2198.5667,1124.6595,0.8763,100.0,98.4689,0.1205,1.4333,-0.0061,...,NaN,NaN,0.4975,0.0131,0.0036,2.6238,0.0068,0.0138,0.0047,203.1720
1564,2978.81,2379.78,2206.3000,1110.4967,0.8236,100.0,99.4122,0.1208,NaN,NaN,...,0.0025,43.5231,0.4987,0.0153,0.0041,3.0590,0.0197,0.0086,0.0025,43.5231
1565,2894.92,2532.01,2177.0333,1183.7287,1.5726,100.0,98.7978,0.1213,1.4622,-0.0072,...,0.0075,93.4941,0.5004,0.0178,0.0038,3.5662,0.0262,0.0245,0.0075,93.4941
1566,2944.92,2450.76,2195.4444,2914.1792,1.5978,100.0,85.1011,0.1235,NaN,NaN,...,0.0045,137.7844,0.4987,0.0181,0.0040,3.6275,0.0117,0.0162,0.0045,137.7844

In [29]:
df_secom.columns = ["feature"+ str(i+1) for i in range(len(secom_data.columns))]

In [30]:
df_secom

,feature1,feature2,feature3,feature4,feature5,feature6,feature7,feature8,feature9,feature10,...,feature581,feature582,feature583,feature584,feature585,feature586,feature587,feature588,feature589,feature590
0,3030.93,2564.00,2187.7333,1411.1265,1.3602,100.0,97.6133,0.1242,1.5005,0.0162,...,NaN,NaN,0.5005,0.0118,0.0035,2.3630,NaN,NaN,NaN,NaN
1,3095.78,2465.14,2230.4222,1463.6606,0.8294,100.0,102.3433,0.1247,1.4966,-0.0005,...,0.0060,208.2045,0.5019,0.0223,0.0055,4.4447,0.0096,0.0201,0.0060,208.2045
2,2932.61,2559.94,2186.4111,1698.0172,1.5102,100.0,95.4878,0.1241,1.4436,0.0041,...,0.0148,82.8602,0.4958,0.0157,0.0039,3.1745,0.0584,0.0484,0.0148,82.8602
3,2988.72,2479.90,2199.0333,909.7926,1.3204,100.0,104.2367,0.1217,1.4882,-0.0124,...,0.0044,73.8432,0.4990,0.0103,0.0025,2.0544,0.0202,0.0149,0.0044,73.8432
4,3032.24,2502.87,2233.3667,1326.5200,1.5334,100.0,100.3967,0.1235,1.5031,-0.0031,...,NaN,NaN,0.4800,0.4766,0.1045,99.3032,0.0202,0.0149,0.0044,73.8432
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1562,2899.41,2464.36,2179.7333,3085.3781,1.4843,100.0,82.2467,0.1248,1.3424,-0.0045,...,0.0047,203.1720,0.4988,0.0143,0.0039,2.8669,0.0068,0.0138,0.0047,203.1720
1563,3052.31,2522.55,2198.5667,1124.6595,0.8763,100.0,98.4689,0.1205,1.4333,-0.0061,...,NaN,NaN,0.4975,0.0131,0.0036,2.6238,0.0068,0.0138,0.0047,203.1720
1564,2978.81,2379.78,2206.3000,1110.4967,0.8236,100.0,99.4122,0.1208,NaN,NaN,...,0.0025,43.5231,0.4987,0.0153,0.0041,3.0590,0.0197,0.0086,0.0025,43.5231
1565,2894.92,2532.01,2177.0333,1183.7287,1.5726,100.0,98.7978,0.1213,1.4622,-0.0072,...,0.0075,93.4941,0.5004,0.0178,0.0038,3.5662,0.0262,0.0245,0.0075,93.4941
1566,2944.92,2450.76,2195.4444,2914.1792,1.5978,100.0,85.1011,0.1235,NaN,NaN,...,0.0045,137.7844,0.4987,0.0181,0.0040,3.6275,0.0117,0.0162,0.0045,137.7844

In [31]:
df_secom.head()

,feature1,feature2,feature3,feature4,feature5,feature6,feature7,feature8,feature9,feature10,...,feature581,feature582,feature583,feature584,feature585,feature586,feature587,feature588,feature589,feature590
0,3030.93,2564.00,2187.7333,1411.1265,1.3602,100.0,97.6133,0.1242,1.5005,0.0162,...,NaN,NaN,0.5005,0.0118,0.0035,2.3630,NaN,NaN,NaN,NaN
1,3095.78,2465.14,2230.4222,1463.6606,0.8294,100.0,102.3433,0.1247,1.4966,-0.0005,...,0.0060,208.2045,0.5019,0.0223,0.0055,4.4447,0.0096,0.0201,0.0060,208.2045
2,2932.61,2559.94,2186.4111,1698.0172,1.5102,100.0,95.4878,0.1241,1.4436,0.0041,...,0.0148,82.8602,0.4958,0.0157,0.0039,3.1745,0.0584,0.0484,0.0148,82.8602
3,2988.72,2479.90,2199.0333,909.7926,1.3204,100.0,104.2367,0.1217,1.4882,-0.0124,...,0.0044,73.8432,0.4990,0.0103,0.0025,2.0544,0.0202,0.0149,0.0044,73.8432
4,3032.24,2502.87,2233.3667,1326.5200,1.5334,100.0,100.3967,0.1235,1.5031,-0.0031,...,NaN,NaN,0.4800,0.4766,0.1045,99.3032,0.0202,0.0149,0.0044,73.8432

In [32]:
df_secom.isnull().sum()

feature1       6
feature2       7
feature3      14
feature4      14
feature5      14
              ..
feature586     1
feature587     1
feature588     1
feature589     1
feature590     1
Length: 590, dtype: int64

Merge datasets

In [33]:
df_merge = pd.merge(df_label_new, df_secom, left_index=True, right_index=True)

In [34]:
df_merge

,status,date,time,feature1,feature2,feature3,feature4,feature5,feature6,feature7,...,feature581,feature582,feature583,feature584,feature585,feature586,feature587,feature588,feature589,feature590
0,-1,2008-07-19,11:55:00,3030.93,2564.00,2187.7333,1411.1265,1.3602,100.0,97.6133,...,NaN,NaN,0.5005,0.0118,0.0035,2.3630,NaN,NaN,NaN,NaN
1,-1,2008-07-19,12:32:00,3095.78,2465.14,2230.4222,1463.6606,0.8294,100.0,102.3433,...,0.0060,208.2045,0.5019,0.0223,0.0055,4.4447,0.0096,0.0201,0.0060,208.2045
2,1,2008-07-19,13:17:00,2932.61,2559.94,2186.4111,1698.0172,1.5102,100.0,95.4878,...,0.0148,82.8602,0.4958,0.0157,0.0039,3.1745,0.0584,0.0484,0.0148,82.8602
3,-1,2008-07-19,14:43:00,2988.72,2479.90,2199.0333,909.7926,1.3204,100.0,104.2367,...,0.0044,73.8432,0.4990,0.0103,0.0025,2.0544,0.0202,0.0149,0.0044,73.8432
4,-1,2008-07-19,15:22:00,3032.24,2502.87,2233.3667,1326.5200,1.5334,100.0,100.3967,...,NaN,NaN,0.4800,0.4766,0.1045,99.3032,0.0202,0.0149,0.0044,73.8432
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1562,-1,2008-10-16,15:13:00,2899.41,2464.36,2179.7333,3085.3781,1.4843,100.0,82.2467,...,0.0047,203.1720,0.4988,0.0143,0.0039,2.8669,0.0068,0.0138,0.0047,203.1720
1563,-1,2008-10-16,20:49:00,3052.31,2522.55,2198.5667,1124.6595,0.8763,100.0,98.4689,...,NaN,NaN,0.4975,0.0131,0.0036,2.6238,0.0068,0.0138,0.0047,203.1720
1564,-1,2008-10-17,05:26:00,2978.81,2379.78,2206.3000,1110.4967,0.8236,100.0,99.4122,...,0.0025,43.5231,0.4987,0.0153,0.0041,3.0590,0.0197,0.0086,0.0025,43.5231
1565,-1,2008-10-17,06:01:00,2894.92,2532.01,2177.0333,1183.7287,1.5726,100.0,98.7978,...,0.0075,93.4941,0.5004,0.0178,0.0038,3.5662,0.0262,0.0245,0.0075,93.4941
1566,-1,2008-10-17,06:07:00,2944.92,2450.76,2195.4444,2914.1792,1.5978,100.0,85.1011,...,0.0045,137.7844,0.4987,0.0181,0.0040,3.6275,0.0117,0.0162,0.0045,137.7844

Split data into train vs. test

In [35]:
from sklearn.model_selection import train_test_split

In [37]:
train, test = train_test_split(df_merge, test_size=0.2)

In [38]:
train, test

(      status        date      time  feature1  feature2   feature3   feature4  \
 95        -1  2008-04-08  20:32:00   3081.07   2560.99  2180.1556  1822.5073
 993       -1  2008-09-21  17:26:00   2966.26   2524.57  2213.9111  1973.9690
 1186      -1  2008-09-29  22:13:00   3049.97   2441.12  2263.3222  1383.8334
 1535      -1  2008-10-15  16:24:00   3028.64   2532.71  2192.7889  1268.5852
 1337      -1  2008-06-10  01:27:00   2915.54   2496.52  2210.8556  1665.0062
 ...      ...         ...       ...       ...       ...        ...        ...
 154        1  2008-07-08  11:40:00   2973.86   2359.01  2196.6555  1066.1908
 33        -1  2008-07-27  23:14:00   2981.31   2566.35  2197.3111   969.8910
 608       -1  2008-08-31  15:09:00   3065.45   2698.14  2200.0666  1012.6747
 366       -1  2008-08-21  15:48:00   3089.31   2546.27  2208.4444  1089.1175
 1099      -1  2008-09-26  05:32:00   3160.54   2304.83  2233.6334  1962.0026

       feature5  feature6  feature7  ...  feature581  feature582  feature583  \
 95      1.2579     100.0   98.1289  ...         NaN         NaN      0.5002
 993     1.2541     100.0   96.9456  ...         NaN         NaN      0.4960
 1186    2.3986     100.0   85.1778  ...      0.0033     39.5528      0.5053
 1535    1.9935     100.0  104.5867  ...      0.0037     48.7045      0.4972
 1337    2.4475     100.0   97.1056  ...      0.0064     85.0589      0.5005
 ...        ...       ...       ...  ...         ...         ...         ...
 154     1.2188     100.0  101.8900  ...         NaN         NaN      0.5025
 33      1.3015     100.0  105.3911  ...         NaN         NaN      0.4992
 608     1.3954     100.0  103.0644  ...      0.0046     62.3881      0.4982
 366     0.7665     100.0  103.7100  ...      0.0064    388.9648      0.5002
 1099    1.2120     100.0   99.0133  ...         NaN         NaN      0.4981

       feature584  feature585  feature586  feature587  feature588  feature589  \
 95        0.0098      0.0027      1.9607      0.0277      0.0318      0.0097
 993       0.0071      0.0020      1.4374      0.0200      0.0205      0.0061
 1186      0.0159      0.0038      3.1456      0.0262      0.0104      0.0033
 1535      0.0145      0.0040      2.9103      0.0199      0.0097      0.0037
 1337      0.0117      0.0029      2.3366      0.0239      0.0203      0.0064
 ...          ...         ...         ...         ...         ...         ...
 154       0.0128      0.0040      2.5391      0.0199      0.0117      0.0043
 33        0.0158      0.0043      3.1653      0.0082      0.0162      0.0054
 608       0.0194      0.0043      3.8846      0.0252      0.0157      0.0046
 366       0.0148      0.0036      2.9593      0.0046      0.0180      0.0064
 1099      0.0142      0.0035      2.8606      0.0179      0.0079      0.0024

       feature590
 95      114.7497
 993     102.5241
 1186     39.5528
 1535     48.7045
 1337     85.0589
 ...          ...
 154      58.5665
 33      197.9951
 608      62.3881
 366     388.9648
 1099     44.1194

 [1253 rows x 593 columns],
       status        date      time  feature1  feature2   feature3   feature4  \
 1343       1  2008-06-10  03:57:00   3058.46   2467.73  2228.4778  1721.1108
 224       -1  2008-08-17  00:52:00   3076.52   2502.62  2197.6444  1247.0334
 835       -1  2008-09-14  15:46:00   3003.72   2537.66  2210.7778  2008.9216
 1088      -1  2008-09-25  17:29:00   2888.90   2553.54  2187.6667   991.7358
 364       -1  2008-08-21  15:06:00   3063.36   2333.96  2186.9889   949.2201
 ...      ...         ...       ...       ...       ...        ...        ...
 862       -1  2008-09-16  09:37:00   2982.62   2474.88  2114.6667  1549.4874
 458       -1  2008-08-28  03:03:00   3021.45   2611.98  2113.0778  1016.6750
 781       -1  2008-11-09  06:04:00   3043.14   2517.25  2190.1555  1298.8207
 1041      -1  2008-09-23  18:56:00   2960.56   2465.42  2213.9111  1973.9690
 1144       1  2008-09-28  04:45:00   2882.22   2518.89  2254.8667  2347.9092

       feature5  feature6  feature7  ...  feature581  feature582  feature583  \
 1343    1.4301     100.0   93.6222  ...         NaN         NaN      0.5068
 224     0.7865     100.0   99.9211  ...      0.0048     51.8065      0.5025
 835     1.1351     100.0   91.1078  ...      0.0038    114.2878      0.5033
 1088    1.2727     100.0  105.0156  ...         NaN         NaN      0.4966
 364     1.2981     100.0  103.3322  ...      0.0065    110.9041      0.4987
 ...        ...       ...       ...  ...         ...         ...         ...
 862     1.3393     100.0   98.7844  ...      0.0032     50.0888      0.4948
 458     0.9218     100.0   97.9200  ...         NaN         NaN      0.5065
 781     1.3947     100.0  105.7411  ...         NaN         NaN      0.5056
 1041    1.2541     100.0   96.9456  ...         NaN         NaN      0.4956
 1144    1.2986     100.0   87.8044  ...      0.0030     39.1032      0.4984

       feature584  feature585  feature586  feature587  feature588  feature589  \
 1343      0.0189      0.0046      3.7313      0.0346      0.0251      0.0097
 224       0.0144      0.0038      2.8593      0.0287      0.0149      0.0048
 835       0.0154      0.0043      3.0647      0.0099      0.0113      0.0038
 1088      0.0179      0.0048      3.6037      0.0162      0.0172      0.0049
 364       0.0195      0.0048      3.9171      0.0203      0.0226      0.0065
 ...          ...         ...         ...         ...         ...         ...
 862       0.0142      0.0042      2.8661      0.0241      0.0121      0.0032
 458       0.0141      0.0038      2.7875      0.0050      0.0138      0.0047
 781       0.0208      0.0051      4.1174      0.0373      0.0079      0.0030
 1041      0.0128      0.0031      2.5737      0.0437      0.0200      0.0074
 1144      0.0155      0.0043      3.1107      0.0275      0.0108      0.0030

       feature590
 1343     72.6469
 224      51.8065
 835     114.2878
 1088    106.5441
 364     110.9041
 ...          ...
 862      50.0888
 458     276.8808
 781      21.0599
 1041     45.7019
 1144     39.1032

 [314 rows x 593 columns])

In [39]:
train

,status,date,time,feature1,feature2,feature3,feature4,feature5,feature6,feature7,...,feature581,feature582,feature583,feature584,feature585,feature586,feature587,feature588,feature589,feature590
95,-1,2008-04-08,20:32:00,3081.07,2560.99,2180.1556,1822.5073,1.2579,100.0,98.1289,...,NaN,NaN,0.5002,0.0098,0.0027,1.9607,0.0277,0.0318,0.0097,114.7497
993,-1,2008-09-21,17:26:00,2966.26,2524.57,2213.9111,1973.9690,1.2541,100.0,96.9456,...,NaN,NaN,0.4960,0.0071,0.0020,1.4374,0.0200,0.0205,0.0061,102.5241
1186,-1,2008-09-29,22:13:00,3049.97,2441.12,2263.3222,1383.8334,2.3986,100.0,85.1778,...,0.0033,39.5528,0.5053,0.0159,0.0038,3.1456,0.0262,0.0104,0.0033,39.5528
1535,-1,2008-10-15,16:24:00,3028.64,2532.71,2192.7889,1268.5852,1.9935,100.0,104.5867,...,0.0037,48.7045,0.4972,0.0145,0.0040,2.9103,0.0199,0.0097,0.0037,48.7045
1337,-1,2008-06-10,01:27:00,2915.54,2496.52,2210.8556,1665.0062,2.4475,100.0,97.1056,...,0.0064,85.0589,0.5005,0.0117,0.0029,2.3366,0.0239,0.0203,0.0064,85.0589
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
154,1,2008-07-08,11:40:00,2973.86,2359.01,2196.6555,1066.1908,1.2188,100.0,101.8900,...,NaN,NaN,0.5025,0.0128,0.0040,2.5391,0.0199,0.0117,0.0043,58.5665
33,-1,2008-07-27,23:14:00,2981.31,2566.35,2197.3111,969.8910,1.3015,100.0,105.3911,...,NaN,NaN,0.4992,0.0158,0.0043,3.1653,0.0082,0.0162,0.0054,197.9951
608,-1,2008-08-31,15:09:00,3065.45,2698.14,2200.0666,1012.6747,1.3954,100.0,103.0644,...,0.0046,62.3881,0.4982,0.0194,0.0043,3.8846,0.0252,0.0157,0.0046,62.3881
366,-1,2008-08-21,15:48:00,3089.31,2546.27,2208.4444,1089.1175,0.7665,100.0,103.7100,...,0.0064,388.9648,0.5002,0.0148,0.0036,2.9593,0.0046,0.0180,0.0064,388.9648
1099,-1,2008-09-26,05:32:00,3160.54,2304.83,2233.6334,1962.0026,1.2120,100.0,99.0133,...,NaN,NaN,0.4981,0.0142,0.0035,2.8606,0.0179,0.0079,0.0024,44.1194

In [40]:
test

,status,date,time,feature1,feature2,feature3,feature4,feature5,feature6,feature7,...,feature581,feature582,feature583,feature584,feature585,feature586,feature587,feature588,feature589,feature590
1343,1,2008-06-10,03:57:00,3058.46,2467.73,2228.4778,1721.1108,1.4301,100.0,93.6222,...,NaN,NaN,0.5068,0.0189,0.0046,3.7313,0.0346,0.0251,0.0097,72.6469
224,-1,2008-08-17,00:52:00,3076.52,2502.62,2197.6444,1247.0334,0.7865,100.0,99.9211,...,0.0048,51.8065,0.5025,0.0144,0.0038,2.8593,0.0287,0.0149,0.0048,51.8065
835,-1,2008-09-14,15:46:00,3003.72,2537.66,2210.7778,2008.9216,1.1351,100.0,91.1078,...,0.0038,114.2878,0.5033,0.0154,0.0043,3.0647,0.0099,0.0113,0.0038,114.2878
1088,-1,2008-09-25,17:29:00,2888.90,2553.54,2187.6667,991.7358,1.2727,100.0,105.0156,...,NaN,NaN,0.4966,0.0179,0.0048,3.6037,0.0162,0.0172,0.0049,106.5441
364,-1,2008-08-21,15:06:00,3063.36,2333.96,2186.9889,949.2201,1.2981,100.0,103.3322,...,0.0065,110.9041,0.4987,0.0195,0.0048,3.9171,0.0203,0.0226,0.0065,110.9041
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
862,-1,2008-09-16,09:37:00,2982.62,2474.88,2114.6667,1549.4874,1.3393,100.0,98.7844,...,0.0032,50.0888,0.4948,0.0142,0.0042,2.8661,0.0241,0.0121,0.0032,50.0888
458,-1,2008-08-28,03:03:00,3021.45,2611.98,2113.0778,1016.6750,0.9218,100.0,97.9200,...,NaN,NaN,0.5065,0.0141,0.0038,2.7875,0.0050,0.0138,0.0047,276.8808
781,-1,2008-11-09,06:04:00,3043.14,2517.25,2190.1555,1298.8207,1.3947,100.0,105.7411,...,NaN,NaN,0.5056,0.0208,0.0051,4.1174,0.0373,0.0079,0.0030,21.0599
1041,-1,2008-09-23,18:56:00,2960.56,2465.42,2213.9111,1973.9690,1.2541,100.0,96.9456,...,NaN,NaN,0.4956,0.0128,0.0031,2.5737,0.0437,0.0200,0.0074,45.7019
1144,1,2008-09-28,04:45:00,2882.22,2518.89,2254.8667,2347.9092,1.2986,100.0,87.8044,...,0.0030,39.1032,0.4984,0.0155,0.0043,3.1107,0.0275,0.0108,0.0030,39.1032

In [41]:
df_train_result = train['status'].value_counts()

In [42]:
df_train_result

-1    1172
 1      81
Name: status, dtype: int64

In [43]:
df_test_result = test['status'].value_counts()

In [44]:
df_test_result

-1    291
 1     23
Name: status, dtype: int64

Remove Features with >55% missing values

In [45]:
df_merge.columns[df_merge.isnull().any()]

Index(['feature1', 'feature2', 'feature3', 'feature4', 'feature5', 'feature6',
       'feature7', 'feature8', 'feature9', 'feature10',
       ...
       'feature581', 'feature582', 'feature583', 'feature584', 'feature585',
       'feature586', 'feature587', 'feature588', 'feature589', 'feature590'],
      dtype='object', length=538)

In [46]:
df_merge.isna().sum()

status        0
date          0
time          0
feature1      6
feature2      7
             ..
feature586    1
feature587    1
feature588    1
feature589    1
feature590    1
Length: 593, dtype: int64

In [49]:
missing_values_percent_train = 100 * train.isnull().sum() / len(train)

In [50]:
missing_values_percent_train

status        0.000000
date          0.000000
time          0.000000
feature1      0.319234
feature2      0.319234
                ...
feature586    0.000000
feature587    0.079808
feature588    0.079808
feature589    0.079808
feature590    0.079808
Length: 593, dtype: float64

In [51]:
df_missing_values_percent_train = pd.DataFrame(missing_values_percent_train)

In [52]:
df_missing_values_percent_train

                   0
status      0.000000
date        0.000000
time        0.000000
feature1    0.319234
feature2    0.319234
...              ...
feature586  0.000000
feature587  0.079808
feature588  0.079808
feature589  0.079808
feature590  0.079808

[593 rows x 1 columns]

In [54]:
df_missing_values_percent_train.columns = ['% of missing values']

In [55]:
df_missing_values_percent_train

            % of missing values
status                 0.000000
date                   0.000000
time                   0.000000
feature1               0.319234
feature2               0.319234
...                         ...
feature586             0.000000
feature587             0.079808
feature588             0.079808
feature589             0.079808
feature590             0.079808

[593 rows x 1 columns]

In [56]:
df_missing_values_percent_train_features = df_missing_values_percent_train.loc[df_missing_values_percent_train['% of missing values'] > 55]

In [57]:
df_missing_values_percent_train_features

            % of missing values
feature86             85.315243
feature110            64.485235
feature111            64.485235
feature112            64.485235
feature158            91.221069
feature159            91.221069
feature221            85.315243
feature245            64.485235
feature246            64.485235
feature247            64.485235
feature293            91.221069
feature294            91.221069
feature359            85.315243
feature383            64.485235
feature384            64.485235
feature385            64.485235
feature493            85.315243
feature517            64.485235
feature518            64.485235
feature519            64.485235
feature579            60.015962
feature580            60.015962
feature581            60.015962
feature582            60.015962

In [58]:
train

,status,date,time,feature1,feature2,feature3,feature4,feature5,feature6,feature7,...,feature581,feature582,feature583,feature584,feature585,feature586,feature587,feature588,feature589,feature590
95,-1,2008-04-08,20:32:00,3081.07,2560.99,2180.1556,1822.5073,1.2579,100.0,98.1289,...,NaN,NaN,0.5002,0.0098,0.0027,1.9607,0.0277,0.0318,0.0097,114.7497
993,-1,2008-09-21,17:26:00,2966.26,2524.57,2213.9111,1973.9690,1.2541,100.0,96.9456,...,NaN,NaN,0.4960,0.0071,0.0020,1.4374,0.0200,0.0205,0.0061,102.5241
1186,-1,2008-09-29,22:13:00,3049.97,2441.12,2263.3222,1383.8334,2.3986,100.0,85.1778,...,0.0033,39.5528,0.5053,0.0159,0.0038,3.1456,0.0262,0.0104,0.0033,39.5528
1535,-1,2008-10-15,16:24:00,3028.64,2532.71,2192.7889,1268.5852,1.9935,100.0,104.5867,...,0.0037,48.7045,0.4972,0.0145,0.0040,2.9103,0.0199,0.0097,0.0037,48.7045
1337,-1,2008-06-10,01:27:00,2915.54,2496.52,2210.8556,1665.0062,2.4475,100.0,97.1056,...,0.0064,85.0589,0.5005,0.0117,0.0029,2.3366,0.0239,0.0203,0.0064,85.0589
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
154,1,2008-07-08,11:40:00,2973.86,2359.01,2196.6555,1066.1908,1.2188,100.0,101.8900,...,NaN,NaN,0.5025,0.0128,0.0040,2.5391,0.0199,0.0117,0.0043,58.5665
33,-1,2008-07-27,23:14:00,2981.31,2566.35,2197.3111,969.8910,1.3015,100.0,105.3911,...,NaN,NaN,0.4992,0.0158,0.0043,3.1653,0.0082,0.0162,0.0054,197.9951
608,-1,2008-08-31,15:09:00,3065.45,2698.14,2200.0666,1012.6747,1.3954,100.0,103.0644,...,0.0046,62.3881,0.4982,0.0194,0.0043,3.8846,0.0252,0.0157,0.0046,62.3881
366,-1,2008-08-21,15:48:00,3089.31,2546.27,2208.4444,1089.1175,0.7665,100.0,103.7100,...,0.0064,388.9648,0.5002,0.0148,0.0036,2.9593,0.0046,0.0180,0.0064,388.9648
1099,-1,2008-09-26,05:32:00,3160.54,2304.83,2233.6334,1962.0026,1.2120,100.0,99.0133,...,NaN,NaN,0.4981,0.0142,0.0035,2.8606,0.0179,0.0079,0.0024,44.1194

In [59]:
df_train_NaN_removed = df_merge.drop(['feature582', 'feature581', 'feature580', 'feature579', 'feature519', 'feature518', 'feature517', 'feature493', 'feature385', 'feature384', 'feature383', 'feature359', 'feature294', 'feature293', 'feature247', 'feature246', 'feature245', 'feature221', 'feature159', 'feature158', 'feature112', 'feature111', 'feature110', 'feature86'], axis = 1)

In [60]:
df_train_NaN_removed

,status,date,time,feature1,feature2,feature3,feature4,feature5,feature6,feature7,...,feature577,feature578,feature583,feature584,feature585,feature586,feature587,feature588,feature589,feature590
0,-1,2008-07-19,11:55:00,3030.93,2564.00,2187.7333,1411.1265,1.3602,100.0,97.6133,...,1.6765,14.9509,0.5005,0.0118,0.0035,2.3630,NaN,NaN,NaN,NaN
1,-1,2008-07-19,12:32:00,3095.78,2465.14,2230.4222,1463.6606,0.8294,100.0,102.3433,...,1.1065,10.9003,0.5019,0.0223,0.0055,4.4447,0.0096,0.0201,0.0060,208.2045
2,1,2008-07-19,13:17:00,2932.61,2559.94,2186.4111,1698.0172,1.5102,100.0,95.4878,...,2.0952,9.2721,0.4958,0.0157,0.0039,3.1745,0.0584,0.0484,0.0148,82.8602
3,-1,2008-07-19,14:43:00,2988.72,2479.90,2199.0333,909.7926,1.3204,100.0,104.2367,...,1.7585,8.5831,0.4990,0.0103,0.0025,2.0544,0.0202,0.0149,0.0044,73.8432
4,-1,2008-07-19,15:22:00,3032.24,2502.87,2233.3667,1326.5200,1.5334,100.0,100.3967,...,1.6597,10.9698,0.4800,0.4766,0.1045,99.3032,0.0202,0.0149,0.0044,73.8432
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1562,-1,2008-10-16,15:13:00,2899.41,2464.36,2179.7333,3085.3781,1.4843,100.0,82.2467,...,1.4879,11.7256,0.4988,0.0143,0.0039,2.8669,0.0068,0.0138,0.0047,203.1720
1563,-1,2008-10-16,20:49:00,3052.31,2522.55,2198.5667,1124.6595,0.8763,100.0,98.4689,...,1.0187,17.8379,0.4975,0.0131,0.0036,2.6238,0.0068,0.0138,0.0047,203.1720
1564,-1,2008-10-17,05:26:00,2978.81,2379.78,2206.3000,1110.4967,0.8236,100.0,99.4122,...,1.2237,17.7267,0.4987,0.0153,0.0041,3.0590,0.0197,0.0086,0.0025,43.5231
1565,-1,2008-10-17,06:01:00,2894.92,2532.01,2177.0333,1183.7287,1.5726,100.0,98.7978,...,1.7085,19.2104,0.5004,0.0178,0.0038,3.5662,0.0262,0.0245,0.0075,93.4941
1566,-1,2008-10-17,06:07:00,2944.92,2450.76,2195.4444,2914.1792,1.5978,100.0,85.1011,...,1.2878,22.9183,0.4987,0.0181,0.0040,3.6275,0.0117,0.0162,0.0045,137.7844

Imputation of missing values

In [61]:
#kNN imputation

In [69]:
import numpy as np
>>> from sklearn.impute import KNNImputer

from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split

In [63]:
imputer = KNNImputer(n_neighbors=2)

In [66]:
df_train_NaN_removed_features_only = df_train_NaN_removed.drop(['status', 'date', 'time'], axis = 1)

In [67]:
df_train_NaN_removed_features_only

,feature1,feature2,feature3,feature4,feature5,feature6,feature7,feature8,feature9,feature10,...,feature577,feature578,feature583,feature584,feature585,feature586,feature587,feature588,feature589,feature590
0,3030.93,2564.00,2187.7333,1411.1265,1.3602,100.0,97.6133,0.1242,1.5005,0.0162,...,1.6765,14.9509,0.5005,0.0118,0.0035,2.3630,NaN,NaN,NaN,NaN
1,3095.78,2465.14,2230.4222,1463.6606,0.8294,100.0,102.3433,0.1247,1.4966,-0.0005,...,1.1065,10.9003,0.5019,0.0223,0.0055,4.4447,0.0096,0.0201,0.0060,208.2045
2,2932.61,2559.94,2186.4111,1698.0172,1.5102,100.0,95.4878,0.1241,1.4436,0.0041,...,2.0952,9.2721,0.4958,0.0157,0.0039,3.1745,0.0584,0.0484,0.0148,82.8602
3,2988.72,2479.90,2199.0333,909.7926,1.3204,100.0,104.2367,0.1217,1.4882,-0.0124,...,1.7585,8.5831,0.4990,0.0103,0.0025,2.0544,0.0202,0.0149,0.0044,73.8432
4,3032.24,2502.87,2233.3667,1326.5200,1.5334,100.0,100.3967,0.1235,1.5031,-0.0031,...,1.6597,10.9698,0.4800,0.4766,0.1045,99.3032,0.0202,0.0149,0.0044,73.8432
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1562,2899.41,2464.36,2179.7333,3085.3781,1.4843,100.0,82.2467,0.1248,1.3424,-0.0045,...,1.4879,11.7256,0.4988,0.0143,0.0039,2.8669,0.0068,0.0138,0.0047,203.1720
1563,3052.31,2522.55,2198.5667,1124.6595,0.8763,100.0,98.4689,0.1205,1.4333,-0.0061,...,1.0187,17.8379,0.4975,0.0131,0.0036,2.6238,0.0068,0.0138,0.0047,203.1720
1564,2978.81,2379.78,2206.3000,1110.4967,0.8236,100.0,99.4122,0.1208,NaN,NaN,...,1.2237,17.7267,0.4987,0.0153,0.0041,3.0590,0.0197,0.0086,0.0025,43.5231
1565,2894.92,2532.01,2177.0333,1183.7287,1.5726,100.0,98.7978,0.1213,1.4622,-0.0072,...,1.7085,19.2104,0.5004,0.0178,0.0038,3.5662,0.0262,0.0245,0.0075,93.4941
1566,2944.92,2450.76,2195.4444,2914.1792,1.5978,100.0,85.1011,0.1235,NaN,NaN,...,1.2878,22.9183,0.4987,0.0181,0.0040,3.6275,0.0117,0.0162,0.0045,137.7844

In [77]:
df_train_NaN_removed_knn = pd.DataFrame(imputer.fit_transform(df_train_NaN_removed_features_only))

In [78]:
df_train_NaN_removed_knn

,0,1,2,3,4,5,6,7,8,9,...,556,557,558,559,560,561,562,563,564,565
0,3030.93,2564.00,2187.7333,1411.1265,1.3602,100.0,97.6133,0.1242,1.5005,0.01620,...,1.6765,14.9509,0.5005,0.0118,0.0035,2.3630,0.0148,0.0119,0.0037,75.0808
1,3095.78,2465.14,2230.4222,1463.6606,0.8294,100.0,102.3433,0.1247,1.4966,-0.00050,...,1.1065,10.9003,0.5019,0.0223,0.0055,4.4447,0.0096,0.0201,0.0060,208.2045
2,2932.61,2559.94,2186.4111,1698.0172,1.5102,100.0,95.4878,0.1241,1.4436,0.00410,...,2.0952,9.2721,0.4958,0.0157,0.0039,3.1745,0.0584,0.0484,0.0148,82.8602
3,2988.72,2479.90,2199.0333,909.7926,1.3204,100.0,104.2367,0.1217,1.4882,-0.01240,...,1.7585,8.5831,0.4990,0.0103,0.0025,2.0544,0.0202,0.0149,0.0044,73.8432
4,3032.24,2502.87,2233.3667,1326.5200,1.5334,100.0,100.3967,0.1235,1.5031,-0.00310,...,1.6597,10.9698,0.4800,0.4766,0.1045,99.3032,0.0202,0.0149,0.0044,73.8432
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1562,2899.41,2464.36,2179.7333,3085.3781,1.4843,100.0,82.2467,0.1248,1.3424,-0.00450,...,1.4879,11.7256,0.4988,0.0143,0.0039,2.8669,0.0068,0.0138,0.0047,203.1720
1563,3052.31,2522.55,2198.5667,1124.6595,0.8763,100.0,98.4689,0.1205,1.4333,-0.00610,...,1.0187,17.8379,0.4975,0.0131,0.0036,2.6238,0.0068,0.0138,0.0047,203.1720
1564,2978.81,2379.78,2206.3000,1110.4967,0.8236,100.0,99.4122,0.1208,1.4765,-0.01355,...,1.2237,17.7267,0.4987,0.0153,0.0041,3.0590,0.0197,0.0086,0.0025,43.5231
1565,2894.92,2532.01,2177.0333,1183.7287,1.5726,100.0,98.7978,0.1213,1.4622,-0.00720,...,1.7085,19.2104,0.5004,0.0178,0.0038,3.5662,0.0262,0.0245,0.0075,93.4941
1566,2944.92,2450.76,2195.4444,2914.1792,1.5978,100.0,85.1011,0.1235,1.4271,-0.00210,...,1.2878,22.9183,0.4987,0.0181,0.0040,3.6275,0.0117,0.0162,0.0045,137.7844

In [79]:
#Mice Imputation

In [80]:
import numpy as np
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
from sklearn.linear_model import LinearRegression

In [82]:
lr = LinearRegression()

In [89]:
imp = IterativeImputer(estimator=lr,missing_values=np.nan, max_iter=886922, verbose=2, imputation_order='roman',random_state=0)

In [90]:
df_train_NaN_removed_mice = pd.DataFrame(imp.fit_transform(df_train_NaN_removed_features_only))

[IterativeImputer] Completing matrix with shape (1567, 566)
[IterativeImputer] Ending imputation round 1/886922, elapsed time 34.33
[IterativeImputer] Change: 35333.136282488245, scaled tolerance: 37.943
[IterativeImputer] Ending imputation round 2/886922, elapsed time 67.36
[IterativeImputer] Change: 16657.252542137434, scaled tolerance: 37.943
[IterativeImputer] Ending imputation round 3/886922, elapsed time 100.02
[IterativeImputer] Change: 5668.273350882792, scaled tolerance: 37.943
[IterativeImputer] Ending imputation round 4/886922, elapsed time 132.99
[IterativeImputer] Change: 4408.390787985867, scaled tolerance: 37.943
[IterativeImputer] Ending imputation round 5/886922, elapsed time 169.65
[IterativeImputer] Change: 3263.535236642922, scaled tolerance: 37.943
[IterativeImputer] Ending imputation round 6/886922, elapsed time 208.43
[IterativeImputer] Change: 1836.0505449034167, scaled tolerance: 37.943
[IterativeImputer] Ending imputation round 7/886922, elapsed time 248.10
[IterativeImputer] Change: 845.7058711447771, scaled tolerance: 37.943
[IterativeImputer] Ending imputation round 8/886922, elapsed time 286.89
[IterativeImputer] Change: 507.30737555146993, scaled tolerance: 37.943
[IterativeImputer] Ending imputation round 9/886922, elapsed time 328.49
[IterativeImputer] Change: 324.2631754902242, scaled tolerance: 37.943
[IterativeImputer] Ending imputation round 10/886922, elapsed time 368.75
[IterativeImputer] Change: 224.1093474387293, scaled tolerance: 37.943
[IterativeImputer] Ending imputation round 11/886922, elapsed time 408.19
[IterativeImputer] Change: 172.702855632392, scaled tolerance: 37.943
[IterativeImputer] Ending imputation round 12/886922, elapsed time 446.98
[IterativeImputer] Change: 107.9351359976965, scaled tolerance: 37.943
[IterativeImputer] Ending imputation round 13/886922, elapsed time 488.16
[IterativeImputer] Change: 54.96867286197812, scaled tolerance: 37.943
[IterativeImputer] Ending imputation round 14/886922, elapsed time 528.09
[IterativeImputer] Change: 48.31661570620781, scaled tolerance: 37.943
[IterativeImputer] Ending imputation round 15/886922, elapsed time 567.86
[IterativeImputer] Change: 37.955550714745186, scaled tolerance: 37.943
[IterativeImputer] Ending imputation round 16/886922, elapsed time 607.25
[IterativeImputer] Change: 29.211004085605964, scaled tolerance: 37.943
[IterativeImputer] Early stopping criterion reached.

In [91]:
df_train_NaN_removed_mice

,0,1,2,3,4,5,6,7,8,9,...,556,557,558,559,560,561,562,563,564,565
0,3030.93,2564.00,2187.7333,1411.1265,1.3602,100.0,97.6133,0.1242,1.500500,0.016200,...,1.6765,14.9509,0.5005,0.0118,0.0035,2.3630,0.024454,0.01432,0.004822,65.820772
1,3095.78,2465.14,2230.4222,1463.6606,0.8294,100.0,102.3433,0.1247,1.496600,-0.000500,...,1.1065,10.9003,0.5019,0.0223,0.0055,4.4447,0.009600,0.02010,0.006000,208.204500
2,2932.61,2559.94,2186.4111,1698.0172,1.5102,100.0,95.4878,0.1241,1.443600,0.004100,...,2.0952,9.2721,0.4958,0.0157,0.0039,3.1745,0.058400,0.04840,0.014800,82.860200
3,2988.72,2479.90,2199.0333,909.7926,1.3204,100.0,104.2367,0.1217,1.488200,-0.012400,...,1.7585,8.5831,0.4990,0.0103,0.0025,2.0544,0.020200,0.01490,0.004400,73.843200
4,3032.24,2502.87,2233.3667,1326.5200,1.5334,100.0,100.3967,0.1235,1.503100,-0.003100,...,1.6597,10.9698,0.4800,0.4766,0.1045,99.3032,0.020200,0.01490,0.004400,73.843200
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1562,2899.41,2464.36,2179.7333,3085.3781,1.4843,100.0,82.2467,0.1248,1.342400,-0.004500,...,1.4879,11.7256,0.4988,0.0143,0.0039,2.8669,0.006800,0.01380,0.004700,203.172000
1563,3052.31,2522.55,2198.5667,1124.6595,0.8763,100.0,98.4689,0.1205,1.433300,-0.006100,...,1.0187,17.8379,0.4975,0.0131,0.0036,2.6238,0.006800,0.01380,0.004700,203.172000
1564,2978.81,2379.78,2206.3000,1110.4967,0.8236,100.0,99.4122,0.1208,1.461347,-0.001975,...,1.2237,17.7267,0.4987,0.0153,0.0041,3.0590,0.019700,0.00860,0.002500,43.523100
1565,2894.92,2532.01,2177.0333,1183.7287,1.5726,100.0,98.7978,0.1213,1.462200,-0.007200,...,1.7085,19.2104,0.5004,0.0178,0.0038,3.5662,0.026200,0.02450,0.007500,93.494100
1566,2944.92,2450.76,2195.4444,2914.1792,1.5978,100.0,85.1011,0.1235,1.432573,-0.009357,...,1.2878,22.9183,0.4987,0.0181,0.0040,3.6275,0.011700,0.01620,0.004500,137.784400

In [93]:
df_train_NaN_removed_mice.isna().sum().sum()

0